<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="shortcut icon" type="image/x-icon" href="../static/images/icon.png"/>
  <link rel="stylesheet" href="../static/styles/4-common.css"/>
  <link rel="stylesheet" href="../static/styles/3-header.css"/>
  <link rel="stylesheet" href="../static/styles/3-footer.css"/>
  <link rel="stylesheet" href="../static/styles/6-filters.css"/>
  <link rel="stylesheet" href="../static/styles/8-places.css"/>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp</h4>
	  <ul class="popover">
	    {% for state in states.values()|sort(attribute='name') %}
	    <h2>{{ state.name }}</h2>
	    {% for city in state.cities|sort(attribute='name') %}
	    <li>{{ city.name }}</li>
	    {% endfor %}
	    {% endfor %}
	  </ul>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp</h4>
	  <ul class="popover">
	    {% for amenity in amenities.values()|sort(attribute='name') %}
	    <li>{{ amenity.name }}</li>
	    {% endfor %}
	  </ul>
	</div>
	<button>
	  Search
	</button>
      </section>
      <section class="places">
	<h1>Places</h1>
	{% for place in places.values() %}
	<article>
	  <h2>{{ place.name }}</h2>
	  <div class="price_by_night">
	  {{ place.price_by_night }}
	  </div>
	  <div class="information">
	    <div class="max_guest">
	      <div class="icon_group"></div>
	      {% if place.max_guest == 1 %}
	      {{ place.max_guest }} Guest
	      {% else %}
	      {{ place.max_guest }} Guests
	      {% endif %}
	    </div>
	    <div class="number_rooms">
	      <div class="icon_bed"></div>
	      {% if place.number_rooms == 1 %}
	      {{ place.number_rooms }} Room
	      {% else %}
	      {{ place.number_rooms }} Rooms
	      {% endif %}
	    </div>
	    <div class="number_bathrooms">
	      <div class="icon_bath"></div>
	      {% if place.number_bathrooms == 1 %}
	      {{ place.number_bathrooms }} Room
	      {% else %}
	      {{ place.number_bathrooms }} Rooms
	      {% endif %}
	    </div>
	  </div>
	  <div class="user">
	    <p><b>Owner: </b>Julien Barbier</b>
</div>
<div class="description">
	    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque nunc tortor, tempor et, gravida eu, faucibus vel, justo. Duis dolor eros, laoreet vel, luctus quis, consectetuer at, enim. Sed ac felis at tellus dictum pretium. Quisque cursus lorem ut justo. Pellentesque tempus ultricies quam. Curabitur laoreet elementum velit. Ut purus. Praesent nonummy sem a felis. Duis et elit. Vestibulum risus quam, tempor id, fermentum nec, rhoncus semper, enim. Donec bibendum. Nam semper nulla eget mi gravida posuere.</p>
</div>
</article>
{% endfor %}
      </section>
    </div>
    <footer>
      Holberton School
    </footer>
  </body>
</html>
