<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    {% if id %}
    {% for y in states.values() %}
    {% if y.id == id %}
    <BODY>
      <H1>State: {{ y.name }}</H1>
      <H3>Cities:</H3>
      <UL>
	{% for x in y.cities %}
	<LI>{{ x.id }}: <B>{{ x.name }}</B></LI>
	{% endfor %}
      </UL>
    </BODY>
    {% endif %}
    {% endfor %}
    {% else %}
    <BODY>
      <H1>States</H1>
      <UL>
	{% for y in states.values()|sort(attribute='name') %}
	<li>{{ y.id }}: <b>{{ y.name }}</b></li>
	{% endfor %}
      </UL>
    </BODY>
    {% endif %}
</HTML>
